<!DOCTYPE html>
<html>
<head>
<title>PROYECCION ELECTROLUZ - SOLUCIONES ELECTRICAS INTEGRALES</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="css/magnific-popup.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="main__header" style="background-image: url(images/fondoheader.jpg)">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation"> 
      <!-- Brand and toggle get grouped for better mobile display --> 
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="index.html"><img src="images/logo.png" alt="logo"></a></h1>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li class="dropdown"> <a href="obras.html" class="dropdown-toggle" data-toggle="dropdown">Unidades de Negocios</a>
            <ul class="dropdown-menu">
              <li><a href="obras.html">Obras Industriales</a></li>
              <li><a href="energia.html">Energia</a></li>
              <li><a href="infraestructura.html">Obras de Infraestructura</a></li>
              
              <li><a href="productos.html">Fabricación de tableros</a></li>
              <li><a href="peusa.html">Proyección Electroluz Uruguay</a></li>
              <li><a href="galeriaindustrias.html">Galería de Obras</a></li>

            </ul>
          </li>
          <li class="dropdown"> <a href="productos.html" class="dropdown-toggle" data-toggle="dropdown">Productos Fabricados</a>
            <ul class="dropdown-menu">
              <li><a href="celdas.html">Celdas a prueba de Arco Interno</a></li>
              <li><a href="tableros.html">Tableros de Baja Tensión</a></li>
              <li><a href="columnas.html">Columnas de Alumbrado</a></li>
              <li><a href="bandejas.html">Bandejas Portacables</a></li>
              <li><a href="utilidades.html">Utilidades y catálogos</a></li>
              <li><a href="galeriaproductos.html">Galería de Fotos</a></li>

            </ul>
          </li>
         
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empresa</a>
            <ul class="dropdown-menu">
              <li><a href="historia.html">Historia</a></li>
              <li><a href="mision.html">Misión y valores</a></li>
              <li><a href="rrhh.html">Recursos Humanos</a></li>
              <li><a href="calidad.html">Politica de Calidad</a></li>
              <li><a href="intranet.html">Intranet</a></li>
              <li><a href="galeriaempresa.html">Galería de Fotos</a></li>

            </ul>
          </li>
          <li><a href="contact.html">Contactos</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </nav>
  </div>
</header>
<section class="main__middle__container"> <br><br>
  <div class="container recent-posts">
    <h2 class="page_title text-center"><span>Obras Nacionales realizadas por la empresa</span><br />
      <span class="sep"></span><br />
      <small>Galería de Obras y Montajes Industriales</small></h2>
  </div>
  <div>
    <div id="portfolio" class="row no_padding title__block nothing no-margin">
      
          <ul id="Grid" class="gallery">
         <li class="mix webdesign col-sm-4"> <a href="images/galeria/obraapsa.jpg"><img alt="" src="images/galeria/obraapsa.jpg" class="img-responsive"> <span 

class="text">APSA<span>Planta de Oxigeno, Puerto Esperanza</span></span></a> </li>
        <li class="mix printing col-sm-4"> <a href="images/galeria/obrarenova.jpg"><img alt="" src="images/galeria/obrarenova.jpg" class="img-responsive"> <span 

class="text">RENOVA<span>Vista Aérea</span></span></a> </li>
        <li class="mix development col-sm-4"> <a href="images/galeria/obrarenova1.jpg"><img alt="" src="images/galeria/obrarenova1.jpg" class="img-responsive"> <span 

class="text">RENOVA<span>Vista Aérea</span></span></a> </li>
        <li class="mix development col-sm-4"> <a href="images/galeria/obrarenova2.jpg"><img alt="" src="images/galeria/obrarenova2.jpg" class="img-responsive"> <span 

class="text">RENOVA<span>Vista Aérea</span></span></a> </li>
        <li class="mix seo col-sm-4"> <a href="images/galeria/obraumicore.jpg"><img alt="" src="images/galeria/obraumicore.jpg" class="img-responsive"> <span 

class="text">UMICORE<span>Parque Industrial Pilar</span></span></a> </li>
        <li class="mix seo col-sm-4"> <a href="images/galeria/obraacueductocentrooeste.jpg"><img alt="" src="images/galeria/obraacueductocentrooeste.jpg" class="img-responsive"> <span 

class="text">ACUEDUCTO<span>Centro Oeste</span></span></a> </li>
        <li class="mix development col-sm-4"> <a href="images/galeria/obraleiner.jpg"><img alt="" src="images/galeria/obraleiner.jpg" class="img-responsive"> <span 

class="text">PB LEINER<span></span></span></a> </li>
        <li class="mix printing col-sm-4"> <a href="images/galeria/obra.jpg"><img alt="" src="images/galeria/obra.jpg" class="img-responsive"> <span 

class="text">Obra<span></span></span></a> </li>
        <li class="mix development col-sm-4"> <a href="images/galeria/obra1.jpg"><img alt="" src="images/galeria/obra1.jpg" class="img-responsive"> <span 

class="text">Obra1<span></span></span></a> </li>
        <li class="mix printing col-sm-4"> <a href="images/galeria/obra2.jpg"><img alt="" src="images/galeria/obra2.jpg" class="img-responsive"> <span 

class="text">Obra2<span></span></span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obra3.jpg"><img alt="" src="images/galeria/obra3.jpg" class="img-responsive"> <span 

class="text">Obra3<span></span></span></a> </li>
        <li class="mix seo col-sm-4"> <a href="images/galeria/obra4.jpg"><img alt="" src="images/galeria/obra4.jpg" class="img-responsive"> <span 

class="text">Obra4<span></span></span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obra5.jpg"><img alt="" src="images/galeria/obra5.jpg" class="img-responsive"> <span 

class="text">Obra5<span></span></span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obratransoil.jpg"><img alt="" src="images/galeria/obratransoil.jpg" class="img-responsive"> <span 

class="text">TRANSOIL<span></span>Moldavia - Europa</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obracargill.jpg"><img alt="" src="images/galeria/obracargill.jpg" class="img-responsive"> <span 

class="text"> Maltería Cargill<span></span></span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obrapbleiner.jpg"><img alt="" src="images/galeria/obrapbleiner.jpg" class="img-responsive"> <span 

class="text">PB LEINER<span></span>Brasil</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obramrlp.jpg"><img alt="" src="images/galeria/obramrlp.jpg" class="img-responsive"> <span 

class="text">MRLP<span></span>Puerto Granelero</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obralcddreyfus.jpg"><img alt="" src="images/galeria/obralcddreyfus.jpg" class="img-responsive"> <span 

class="text">LCD DREYFUS<span></span>Bahía Blanca</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obramelonoblia.jpg"><img alt="" src="images/galeria/obramelonoblia.jpg" class="img-responsive"> <span 

class="text">LINEA 60 KV<span></span>Melo Noblia</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obraartigas.jpg"><img alt="" src="images/galeria/obraartigas.jpg" class="img-responsive"> <span 

class="text">LINEA 30 KV Artigas Catalán<span></span>LINEA 30 KV Gomensoro Farias</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obrapuebloquintana.jpg"><img alt="" src="images/galeria/obrapuebloquintana.jpg" class="img-responsive"> <span 

class="text">LINEA 15 KV Pueblo Quintana</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obraaca1.jpg"><img alt="" src="images/galeria/obraaca1.jpg" class="img-responsive"> <span 

class="text">LINEA 15 KV ACA I<span></span>Obra 2.1 Ampliación</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obrapalmatopador.jpg"><img alt="" src="images/galeria/obrapalmatopador.jpg" class="img-responsive"> <span 

class="text">E. T. Colonia Palma<span></span>E. T. El Topador</span></a> </li>
        <li class="mix webdesign col-sm-4"> <a href="images/galeria/obraaca2.jpg"><img alt="" src="images/galeria/obraaca2.jpg" class="img-responsive"> <span 

class="text">LINEA 15 KV Obra 2.1 ACA II<span></span>LINEA 15 KV Obra 3.2 MINEROS</span></a> </li>
      </ul>

    </div>

    <div class="dc_clear"></div>
    <br />
    <br />
    <br />
  </div>
</section>
<footer>
  <div class="container">

    
    <p class="text-center">&copy; Copyright Proyección Electroluz - Reservados todos los derechos. - Diseño: Diseño: <a href="http://www.visualsa.com.ar">VisualSA</a></p>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/jquery.mixitup.min.js"></script> 
<script src="js/jquery.magnific-popup.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript">
    $(document).ready(function () {
        // Start work gallery
        $('#Grid').mixitup();
        });
        $('.gallery').each(function() { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                  enabled:true
                }
            });
        });
	</script>
</body>
</html>