<!DOCTYPE html>
<html lang="es">
<head>
<title>PROYECCION ELECTROLUZ - SOLUCIONES ELECTRICAS INTEGRALES</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Brindamos SOLUCIONES ELECTRICAS INTEGRALES: Obras de Energía Eléctrica, Obras Industriales (Automatismos, Building Automation), Obras de infraestructura (Saneamiento), tanto en Argentina como a nivel internacional en diferentes paises.">
<meta name="keywords" content="Obras de Energía Eléctrica, Obras Industriales, Automatismos, Builidin Automation, Obras de infraestructura, Saneamiento, Energias Renovables">
<meta name="author" content="visualsa.com.ar">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123029650-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123029650-1');
</script>
<!-- Global site tag (gtag.js) - Google Ads: 781429250 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-781429250"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-781429250');
</script>
<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5100814.js"></script>
<!-- End of HubSpot Embed Code -->
</head>
<body>
<header class="main__header" style="background-image: url(images/fondoheader.jpg)">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation"> 
      <!-- Brand and toggle get grouped for better mobile display --> 
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="index.html"><img src="images/logo.png" alt="logo"></a></h1>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li class="dropdown"> <a href="obras.html" class="dropdown-toggle" data-toggle="dropdown">Unidades de Negocios</a>
            <ul class="dropdown-menu">
              <li><a href="obras.html">Obras Industriales</a></li>
              <li><a href="energia.html">Energia</a></li>
              <li><a href="infraestructura.html">Obras de Infraestructura</a></li>
              
              <li><a href="productos.html">Fabricación de tableros</a></li>
              <li><a href="neored.html">Venta de Materiales Eléctricos</a></li>
              <li><a href="galeriaindustrias.html">Galería de Obras</a></li>

            </ul>
          </li>
          <li class="dropdown"> <a href="productos.html" class="dropdown-toggle" data-toggle="dropdown">Productos Fabricados</a>
            <ul class="dropdown-menu">
              <li><a href="celdas.html">Celdas a prueba de Arco Interno</a></li>
              <li><a href="tableros.html">Tableros de Baja Tensión</a></li>
              <li><a href="columnas.html">Columnas de Alumbrado</a></li>
              <li><a href="bandejas.html">Bandejas Portacables</a></li>
              <li><a href="utilidades.html">Utilidades y catálogos</a></li>
              <li><a href="galeriaproductos.html">Galería de Fotos</a></li>

            </ul>
          </li>
         
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empresa</a>
            <ul class="dropdown-menu">
              <li><a href="historia.html">Historia</a></li>
              <li><a href="mision.html">Misión y valores</a></li>
              <li><a href="rrhh.html">Recursos Humanos</a></li>
              <li><a href="calidad.html">Politica de Calidad</a></li>
              <li><a href="intranet.html">Intranet</a></li>
              <li><a href="galeriaempresa.html">Galería de Fotos</a></li>

            </ul>
          </li>
          <li><a href="contact.html">Contactos</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </nav>
  </div>
</header>
<section class="slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active"> <img data-src="images/slider/home.jpg" alt="logo" src="images/slider/obras.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Desde 1962 brindamos verdaderas SOLUCIONES ELECTRICAS INTEGRALES</h1>
            <p></p>
            <br>
            <p><a class="btn btn-default btn-lg" href="historia.html" role="button">Leer más</a></p>
          </div>
        </div>
      </div>
      <div class="item"> <img data-src="images/slider/obras.jpg" alt="Obras" src="images/slider/obras3.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Obras de Ingeniería Eléctrica e Infraestructura</h1>
            <p>Vicentin S.A. - San Lorenzo, Santa Fe - Planta de extracción 6.000 Tn</p>
            <p><a class="btn btn-default btn-lg" href="contact.html" role="button">Solicitar entrevista</a><a class="btn btn-default btn-lg" href="obras.html" role="button">Leer más</a></p>
          </div>
        </div>
      </div>
      <div class="item"> <img data-src="images/slider/productos.jpg" alt="Productos" src="images/slider/productos.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Fabricación de Celdas y Tableros Eléctricos</h1>
            <p>Celdas a prueba de Arco Interno, de Media Tensión y Centro Control de Motores </p>
            <p><a class="btn btn-default btn-lg" href="contact.html" role="button">Solicitar asesor</a><a class="btn btn-default btn-lg" href="celdas.html" role="button">Leer más</a></p>
          </div>
        </div>
      </div>
      <div class="item"> <img data-src="images/slider/ventas.jpg" alt="Productos" src="images/slider/ventas.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Venta y provisión de Materiales Eléctricos</h1>
            <p>Salones de venta directa - Reconquista-Avellaneda, Santa Fe </p>
            <p><a class="btn btn-default btn-lg" href="http://www.electroluz-neored.com.ar" role="button">Ver Catálogo web</a><a class="btn btn-default btn-lg" href="neored.html" role="button">Leer más</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon carousel-control-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a> 
  </div>
</section>
<!--end of slider section-->
<section class="main__middle__container">
  <div class="row no_padding icons__blocks text-center ">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h2><a href="/peer/index.html"><img src="images/logopeer.png" alt="logo peer"></a> </h2></div>
        <div class="col-md-9"><h2 class="page_title"><a href="/peer/index.html"><span class="bue">División Energías Renovables:</span> <br>Smart Grid, Parques Solares, Eólicos, Biomasa y Biogas.</a></h2></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <h2 class="">Desde <span class="blue">1962</span> brindando <span class="blue">Soluciones Eléctricas</span> Integrales.</h2>
      <p class="big-paragraph">Inicialmente, dedicada al rubro el&eacute;ctrico, en PROYECCION ELECTROLUZ podemos distinguir tres grandes &aacute;reas de actividad: F&aacute;brica de tableros el&eacute;ctricos - Ejecuci&oacute;n de obras de ingenier&iacute;a el&eacute;ctrica, civil y de  infraestructura y Venta de materiales el&eacute;ctricos</p>
    </div>
  </div>
  <hr>
  <div class="row no_padding text-center">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          <h2 class="page_title"><span>Nuestros Productos y Servicios</span><br />
          <span class="sep"></span><br />
          <small>Con calidad internacional, bajo NORMAS ISO 9001:2015</small></h2>
          </div>
          <div class="col-md-6">
          <a href="iso.html"><img src="images/iso.png" alt="iso" class="img-responsive"></a>
          <a href="iso.html"><img src="images/isospartnermini.jpg" alt="isos partner" class="img-responsive"></a>
          </div>
        </div>
      
      <div class="row">
      <div class="col-md-4"><a href="obras.html"><img src="images/contenido/obras.jpg" alt="obras" class="img-responsive img-rounded"></a>
        <h2><a href="obras.html">Obras Industriales</a></h2>
        <p class="small-paragraph">Industrias - Automatismo - Building Automation - Internacionales - PEUSA</p>
        <h4>El compromiso y capacidad de nuestros integrantes y equipos de trabajo en todos los niveles, quienes con orgullo aplican el know how adquirido en nuestro pa&iacute;s y en el exterior en la Ejecuci&oacute;n de obras de ingenier&iacute;a el&eacute;ctrica, civil y de infraestructura</h4>
       
      </div>
      
      <div class="col-md-4"><a href="energia.html"><img src="images/contenido/energia.jpg" alt="energía" class="img-responsive img-rounded"></a>
        <h2><a href="energia.html">ENERGIA</a></h2>
        <p class="small-paragraph">Líneas y Estaciones Transformadoras - Energías Renovables</p>
        <h4>Lineas de transmisión eléctrica, Electrocentros y Cabinas Móviles, Líneas de baja, media y alta tensión, Estaciones transformadoras hasta 500 Kv. Sistemas OFF GRID, Sistemas HIBRIDOS, AUTOCONSUMO/INYECCION, Sistemas para BACKUP</h4>
        
      </div>

      <div class="col-md-4"><a href="infraestructura.html"><img src="images/contenido/obrasinfra.jpg" alt="infraestructura" class="img-responsive img-rounded"></a>
        <h2><a href="infraestructura.html">Infraestructura</a></h2>
        <p class="small-paragraph">Obras de infraestructura - Saneamiento</p>
        <h4>Alumbrado Público - Edificios Públicos - Hipermercados y Shopping Hospitales - Aeropuertos - Terminales de Ómnibus - Edificios Inteligentes - Tomas de Agua - Estaciones de Bombeo - Acueductos</h4>
        
      </div>
      </div>
      <div class="row">      
      <div class="col-md-4"><a href="productos.html"><img src="images/contenido/fabricacion.jpg" alt="fabricación" class="img-responsive img-rounded"></a>
        <h2><a href="productos.html">Fabricación de tableros Eléctricos</a></h2>
        <p class="small-paragraph">Celdas a prueba de Arco Interno - Tableros - Columnas y torres de iluminación - Bandejas</p>
        <h4>Celdas de Media Tensión de 13.2 KV y 33 KV, Centro control de motores, Tableros de baja tensión, Paneles de control y protección, Tableros de distribución, Columnas de Alumbrado y Torres de Iluminación y Bandejas Portacables.</h4>
        
      </div>
      <div class="col-md-4"><a href="automatismos.html"><img src="images/contenido/automa.jpg" alt="automatismos" class="img-responsive img-rounded"></a>
        <h2><a href="automatismos.html">Automatismos</a></h2>
        <h4>PLC - Sistemas de control - CCM Inteligentes - Sistemas de telegestión</h4>
        
      </div>
      

      <div class="col-md-4"><a href="neored.html"><img src="images/contenido/ventas.jpg" alt="ventas" class="img-responsive img-rounded"></a>
        <h2><a href="neored.html">Venta de Materiales Eléctricos</a></h2>
        <p class="small-paragraph">Proyección Electroluz es socio fundador y miembro activo de NEORED</p>
        <h4>La red de distribución de productos eléctricos más grande de Argentina presente en 25 ciudades con el mayor stock y variedad de productos eléctricos</h4>
        
      </div>
      </div>
      <div class="row">
        
      <div class="col-md-4"><a href="building.html"><img src="images/contenido/build.jpg" alt="Building" class="img-responsive img-rounded"></a>
        <h2><a href="building.html">Building Automation</a></h2>
        <h4>Control y automatización de Edificios.</h4>
       
      </div>
      </div>
    </div>
    </div>
  </div>
  <div class="row grey-info-block text-center">
    <div class="container">
      <div class="row"><h2 class="page_title"><span>Nuestra Empresa</span><br />
        <span class="sep"></span><br />
        <small>Convencidos de que NINGUNA EMPRESA ES MEJOR QUE LA GENTE CON LA CUAL CUENTA,  para la empresa la mayor fortaleza es el compromiso y capacidad de sus integrantes y equipos de trabajo en todos los niveles,  quienes con orgullo desarrollan el know how adquirido en nuestro pa&iacute;s y en el exterior</small></h2>
      </div>
      <div class="col-md-6"><a href="plantareco.html"><img src="images/contenido/plantafabrilreco.jpg" alt="fabrica Reconquista" class="img-rounded img-responsive"></a>
        <a href="plantareco.html"><h3>Planta de Fabricación Reconquista</h3></a>
        <p class="small-paragraph">Ubicada en el Parque Industrial de Reconquista, Santa Fe. En esta instalación se fabrican tableros, celdas, columnas y bandejas portacables</p>
       
        
      </div>
      <div class="col-md-6"><a href="plantaavda.html"><img src="images/contenido/plantafabrilavda.jpg" alt="fabrica Avellaneda" class="img-rounded img-responsive"></a>
        <a href="plantaavda.html"><h3>Planta de Fabricación Avellaneda</h3></a>
        <p class="small-paragraph">Ubicada al oeste de la ciudad de Avellaneda, Santa Fe, permite gracias a su amplia superficie el armado y ensamblado de los productos comercializados por la empresa</p>
        
        
      </div>
      <div class="col-md-6"><a href="ventasreco.html"><img src="images/contenido/ventareco.jpg" alt="Ventas Reconquista" class="img-rounded img-responsive"></a>
        <a href="ventasreco.html"><h3>Salón de Ventas Reconquista</h3></a>
        <p class="small-paragraph">Ubicado en la ciudad de Reconquista, Santa Fe, comercializa productos e insumos eléctricos a particulares, profesionales y empresas en general</p>
       
        
      </div>
      <div class="col-md-6"><a href="ventasavda.html"><img src="images/contenido/ventaavda.jpg" alt="Ventas Avellaneda" class="img-rounded img-responsive"></a>
        <a href="#"><h3>Salón de Ventas de Avellaneda</h3></a>
        <p class="small-paragraph">Ubicada al oeste de la ciudad de Avellaneda, Santa Fe, comercializa artefactos y luminarias para el hogar y las obras en general</p>
        
        
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="text-center three-blocks hidden-xs" style="background-image: url(images/fondoelectroluz.jpg)">
    <div class="container">
      <div class="row">
        <h2 class="">Estamos presentes en el <span class="blue">Mercado Internacional</span> de manera directa y con socios estratégicos </h2>
        <p class="">Realizamos obras de manera directa en diferentes paises y a través del Grupo Prisma, integrado por: CADEM, VENTILAR, MEGA, ALLOCO y PROYECCION ELECTROLUZ, ofreciendo plantas llave en mano en todo el mundo.</p>
      </div>
    </div>
  </div>
  <div class="text-center three-blocks hidden-sm hidden-md hidden-lg" style="background-image: url(images/fondoe.jpg)">
    <div class="container">
      <div class="row">
        <h2 class="">Estamos presentes en el <span class="blue">Mercado Internacional</span> de manera directa y con socios estratégicos </h2>
        <p class="">Realizamos obras de manera directa en diferentes paises y a través del Grupo Prisma, integrado por: CADEM, VENTILAR, MEGA, ALLOCO y PROYECCION ELECTROLUZ, ofreciendo plantas llave en mano en todo el mundo.</p>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <h3>Misión y Valores</h3>
        <p>&laquo;Lograr la satisfacci&oacute;n del cliente, comprometidos en la mejora constante brindando soluciones de calidad en productos y servicios el&eacute;ctricos&raquo;.<br />
          <br />
          En Proyecci&oacute;n Electroluz existe una cultura de trabajo apoyada en los siguientes valores: aprendizaje permanente, la innovaci&oacute;n y la creatividad, compromiso hacia la organizaci&oacute;n, excelencia en calidad, honestidad y conducta &eacute;tica.</p>
          <a href="mision.html"><button class="btn btn-primary">Conocer más</button></a>
      </div>
      <div class="col-md-3">
        <h3>RRHH</h3>
        <p>La pol&iacute;tica de Recursos Humanos constituye un marco de referencia para todos los integrantes de la Empresa.<br />
          La misma se desarrolla sobre la base del <strong>compromiso, el trabajo en equipo, la capacitaci&oacute;n permanente y la mejora cont&iacute;nua</strong>.</p>
        <a href="rrhh.html"><button class="btn btn-primary">Conocer más</button></a>
      </div>
      <div class="col-md-3">
        <h3>Calidad</h3>
        <p>Es nuestro prop&oacute;sito, consolidarnos en este mercado globalizado, como Empresa de Calidad Internacional. Para lograrlo, adoptamos los siguientes principios, que conforman la Pol&iacute;tica de Calidad de la Empresa:</p>
        <br />
        <a href="calidad.html"><button class="btn btn-primary">Conocer más</button></a>
      </div>
      <div class="col-md-3">
        <h3>Catálogos</h3>
        <p>Ingrese para descargas utilidades y catálogos institucionales o de productos.
        </p>
        <a href="utilidades.html"><button class="btn btn-primary">Descargar</button></a>
      </div>
    </div>
    <div class="row">
      <a href="https://cv.electroluzftp.com.ar/puestos/lista"><img src="images/trabajaconnosotros.jpg" alt="trabaja" class="img-rounded img-responsive"> </a><br>
      <a href="https://cv.electroluzftp.com.ar/puestos/lista"><button class="btn btn-success">Dejanos tus datos! </button></a> 
    </div>
    <hr>
  </div>
  <div class="container">
  <div class="col-md-6"><br>
    <p>Administración: Parque Industrial Reconquista - C.P. 3560 (Santa Fe) ARGENTINA <br>Tel.: (054) 03482 421940</p>
  </div>
  <div class="col-md-6"><br>
    <p >&copy; Copyright Proyección Electroluz - Reservados todos los derechos.<br>Diseño: <a href="http://www.visualsa.com.ar">VisualSA</a></p>
  </div> 
  </div>
  <div class="container">
    <div class="media col-md-7"><a href="iso.html"><img class="align-self-center mr-3 img-responsive" src="images/isosmini.jpg"  alt="logo"></a></div>
    <div class="social__icons col-md-4"> <br>
      <p><a href="https://twitter.com/PElectroluz" class="socialicon socialicon-twitter"></a> <a href="https://www.facebook.com/Proyeccion-Electroluz-565084160609849/" class="socialicon socialicon-facebook"></a> <a href="https://plus.google.com/111568852836873120407" class="socialicon socialicon-google"></a> <a href="https://www.instagram.com/proyeccionelectroluz" class="socialicon socialicon-insta"></a> <a href="https://www.linkedin.com/in/proyeccion-electroluz/" class="socialicon socialicon-linke"></a><a href="https://www.youtube.com/channel/UCtm8Vz_FpEmuFl-4KYVoTcw?view_as=subscriber" class="socialicon socialicon-youtu"></a></p>
    </div>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript">

$('.carousel').carousel({
  interval: 3500, // in milliseconds
  pause: 'none' // set to 'true' to pause slider on mouse hover
})

</script>



</body>
</html>