<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="description" content="Proyección Electroluz - 2017">
<link href="intranet/electro.htm" rel="STYLESHEET" type="text/css">
<title>Proyección Electroluz S.R.L.</title>


</head><body topmargin="0" leftmargin="0" bgcolor="#c0c0c0" marginheight="0" marginwidth="0">



<div align="left">



  <center>

<img src="logo2020.png">

    </center>

    <table border="0" cellpadding="0" cellspacing="0" width="774" align=center>

    <tbody><tr>

      <td bgcolor="#ffffff" width="419"> <p><font face="Verdana, Arial, Helvetica, sans-serif"><strong><img src="intranet/flecha1.gif" border="0"></strong><strong>Accesos</strong></font></p>


          <ul>

            <li><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://172.16.24.13/documentos/" target="_top">Documentación Registros de Calidad</a></font> </li>
<br>
            <li><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="https://zimbra.electroluz.com:8443/" target="_top">Webmail fuera de Oficina</a></font></li>
<br>
            <li><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="https://172.16.16.9/" target="_top">Webmail Interno</a></font></li>
          </ul>


      </tr>



    <tr>

<br>
<br>
<br>
<br>


      <td bgcolor="#44446a"> <div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><br>



          <font color="#ccccff"> Copyright Proyección Electroluz S.R.L. - Reconquista



          - Santa Fe - República Argentina<br>



          Conectividad Intranet / Internet: Informática LitoralNorte --



          <a href="http://www.litoralnorte.com.ar/">www.litoralnorte.com.ar</a>



          <br>



          <br>



          </font></font></div></td>



    </tr>



  </tbody></table>







<p>&nbsp;</p>



</div>







</body></html>